a:hover {
	text-decoration: none !important;
}

/*Navigation*/
#navbarHeader li a {
	color: white;
}


/*Front Page*/
.card-body .card-title {
	color: #0056b3;
}

/*Search*/
.headline-underline {
	text-decoration: underline;
}
.main-nav .list-unstyled li:last-child {
	margin-top: 15px;
}
.main-nav .list-unstyled li:last-child a {
	text-decoration: none;
	color: white;
}


/* Blog Home */
main .jumbotron {
	border-radius: 0;
}

.show-thumbnail img {
	width: 100% !important;
	height: 250px !important;
	object-fit: cover;
}

.anchor-regular {
	font-size: 20px;
	padding: 8px;
}

.stretched-link-blog {
	color: #0056b3;
}

.blog-thumbnails {
	width: 200px;
}